<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Shop Homepage - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles2.css" rel="stylesheet" />

    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#!"></a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!"></a></li>
                        <li class="nav-item"><a class="nav-link" href="#!"></a></li>

                    </ul>
                    <div class="d-flex">
                        <div class="btn nav-item me-1" th:unless="${#httpServletRequest.userPrincipal != null}">
                            <a th:href="@{/login}">Đăng nhập</a>
                        </div>
                        <div class="btn nav-item me-1" th:if="${#httpServletRequest.userPrincipal != null}">
                            Chào mừng <span th:text="${#httpServletRequest.userPrincipal.name}" style="font-size: 20px; color: green;"></span>!
                            <a th:href="@{/logout}">Đăng xuất</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-dark py-5" style="background-image: url('/css/12.jpg')">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Shop in style</h1>
                    <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
                </div>
            </div>
        </header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <p class="navbar-brand" ></p>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/home1}">Home</a></li>
                        <li class="nav-item">
                            <form id="searchForm" class="nav-link" th:action="@{/home1}" method="get">
                                <input type="text" name="keyword" placeholder="Tìm kiếm theo tên...">
                                <select name="category">
                                    <option value="">Tất cả danh mục</option>
                                    <option th:each="category : ${category}" th:value="${category.cid}" th:text="${category.cname}"
                                            th:selected="${selectedCategory != null and selectedCategory.cid == category.cid}">
                                    </option>
                                </select>
                                <select name="priceRange">
                                    <option value="">Giá</option>
                                    <option value="under_10m">Dưới 10 triệu</option>
                                    <option value="10m_to_17m">Từ 10 triệu đến 17 triệu</option>
                                    <option value="17m_to_25m">Từ 17 triệu đến 25 triệu</option>
                                    <option value="over_25m">Trên 25 triệu</option>
                                </select>

                                <button type="submit">Tìm kiếm</button>
                            </form>
                        </li>
                    </ul>
                    <form class="nav-link" th:action="@{/cart}" method="get">
                        <input type="hidden" name="cartId" th:value="${cart.id}">
                        <button type="submit" class="btn btn-outline-dark">
                            <i class="bi-cart-fill me-1"></i>
                            Cart
                            <span class="badge bg-dark text-white ms-1 rounded-pill" th:text="${cart.totalItems}"></span>
                        </button>
                    </form>
                </div>

            </div>
        </nav>

        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6">
                        <img class="card-img-top mb-5 mb-md-0" th:src="${product.pimage}" alt="Ảnh sản phẩm" />
                    </div>
                    <div class="col-md-6">
                        <p class="product-info">Mã sản phẩm: <span class="small" th:text="${product.pid}" style="color: #ffff00;"></span></p>
                        <h1 class="display-5 fw-bolder product-title" style="font-size: 30px"> <!-- Màu xanh nước biển -->
                            Tên: <span th:text="${product.pname}" style="color: #0077cc;font-size: 30px;"></span>
                        </h1>
                        <div class="fs-5 mb-5">
                            <p >Giá: <span th:text="${product.price}" style="color: #ff6666;"></span><sup style="color: #ff6666;">đ</sup></p> <!-- Màu đỏ nhạt -->
                        </div>
                        <p class="lead product-description">Mô tả: <span th:text="${product.description}" style="color: #800080;"></span></p>
                        <div class="d-flex product-actions">
                            <form class="add-to-cart-form" th:action="@{/cart/addItem}" method="post">
                                <!-- Thêm sản phẩm vào giỏ hàng -->
                                <input type="hidden" name="productId" th:value="${product.pid}" />
                                <!-- <input type="number" name="quantity" value="1" min="1" max="10" /> -->
                                <input type="submit" value="Add to Cart" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->

        <!-- Core theme JS-->
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                window.scrollTo(0, document.body.scrollHeight / 3);
            });
        </script>


    </body>
</html>
