<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Shop add-product</title>

        <link th:href="@{/css/bootstrap.min1.css}" type="text/css" rel="stylesheet">
        <link th:href="@{/css/datepicker3.css}"  type="text/css" rel="stylesheet">
        <link th:href="@{/css/bootstrap-table1.css}" type="text/css" rel="stylesheet">
        <link th:href="@{/css/styles1.css}" type="text/css" rel="stylesheet">

        <!--Icons-->
        <script th:src="@{/js/lumino.glyphs.js}"></script>

        <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
        <![endif]-->

    </head>

    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" th:href="@{/admin/category}"><span>Shop</span> Quần áo</a>
                    <ul class="user-menu">
                        <li class="dropdown pull-right">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> Admin <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> Hồ sơ</a></li>
                                <li><a href="#"><svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg> Đăng xuất</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </div><!-- /.container-fluid -->
        </nav>

        <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
            <ul class="nav menu">
                <ul class="nav menu">
                <li ><a th:href="@{/admin/category}"><svg class="glyph stroked open folder"></svg>Quản lý danh mục</a></li>
                <li class="active"><a th:href="@{/admin/products}"><svg class="glyph stroked bag"></svg>Quản lý sản phẩm</a></li>
<!--                <li><a th:href="@{/admin/revenue}"><svg class="glyph stroked bag"></svg>Quan lý don hàng</a></li>-->
                <li><a th:href="@{/admin/revenue}"><svg class="glyph stroked bag"></svg>Doanh thu</a></li>
                <li><a th:href="@{/admin/totalsell}"><svg class="glyph stroked bag"></svg>Thống kê</a></li>
                <li ><a th:href="@{/admin/order}"><svg class="glyph stroked bag"><use xlink:href="#stroked-bag"></use></svg>Quản lý đơn hàng</a></li>
            </ul>
            </ul>

        </div><!--/.sidebar-->

        <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
            <div class="row">
                <ol class="breadcrumb">
                    <li><a href="#"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
                    <li><a href="">Quản lý sản phẩm</a></li>
                    <li class="active">Thêm sản phẩm</li>
                </ol>
            </div><!--/.row-->

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Thêm sản phẩm</h1>
                </div>
            </div><!--/.row-->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="col-md-6">
                                <form  th:action="@{/product/save}" th:object="${Pro}" method="post" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <label>Tên sản phẩm: </label>
                                        <input type="text" name="prd_name" required class="form-control" th:field="*{pname}"  placeholder="Tên sản phẩm">
                                    </div>

                                    <div class="form-group">
                                        <label>Giá: </label>
                                        <input type="number" name="prd_promotion" required th:field="*{price}" class="form-control" placeholder="Giá">
                                    </div>    
                                    <div class="form-group">
                                        <label>Mô tả: </label>
                                        <input type="text" name="prd_description" required class="form-control" th:field="*{description}"  placeholder="Mô tả">
                                    </div>  
                                    <div class="form-group">
                                        <label>Ảnh sản phẩm</label>

                                        <input required name="prd_image" type="text" th:field="*{pimage}">
                                        <br>
                                        <!--                                            <div>
                                                                                        <img  style="filter: drop-shadow(0 0 5px rgb(119, 119, 145));" width="80px" >
                                                                                    </div>-->
                                    </div>
                                    <div class="form-group">
                                        <label>Danh mục: </label>
                                        <select id="cateid" th:field="*{cateid}">
                                            <option value="" selected disabled>Chọn danh mục</option>
                                            <option th:each="category : ${cate}" th:value="${category.cid}" th:text="${category.cname}"></option>
                                        </select>

                                    </div> 
                                    <!--                                    <div class="form-group">
                                                                            <label>Danh mục</label>
                                                                            <select name="cname" class="form-control" th:each="cate:${listCategory}">
                                                                                <option th:text="${cate.cname}"></option>
                                                                            </select>
                                                                        </div>-->

                                    <button  type="submit" class="btn btn-success">Thêm mới</button>
                                    <button type="reset" class="btn btn-default">Làm mới</button>

                                </form>
                            </div>
                        </div>
                    </div><!-- /.col-->
                </div><!-- /.row -->

            </div>	<!--/.main-->	
    </body>

</html>
