<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Shop Category</title>

        <link th:href="@{/css/bootstrap.min1.css}" type="text/css" rel="stylesheet">
        <link th:href="@{/css/datepicker3.css}"  type="text/css" rel="stylesheet">
        <link th:href="@{/css/bootstrap-table1.css}" type="text/css" rel="stylesheet">
        <link th:href="@{/css/styles1.css}" type="text/css" rel="stylesheet">

    </head>

    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" th:href="@{/admin/category}"><span>Shop</span> Làng lá</a>
                    <ul class="user-menu">
                        <li class="dropdown pull-right">
                            <div class="dropdown-toggle" th:if="${#httpServletRequest.userPrincipal != null}">
                                Chào mừng <span th:text="${#httpServletRequest.userPrincipal.name}" style="font-size: 20px; color: green;"></span>!
                                <a th:href="@{/logout}">Đăng xuất</a>
                            </div>

                        </li>
                    </ul>
                </div>

            </div><!-- /.container-fluid -->
        </nav>

        <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
            <ul class="nav menu">
                <li class="active"><a th:href="@{/admin/category}"><svg class="glyph stroked open folder"><use xlink:href="#stroked-open-folder"/></svg>Quản lý danh mục</a></li>
                <li><a th:href="@{/admin/products}"><svg class="glyph stroked bag"><use xlink:href="#stroked-bag"></use></svg>Quản lý sản phẩm</a></li>
                <li><a th:href="@{/admin/revenue}"><svg class="glyph stroked bag"><use xlink:href="#stroked-bag"></use></svg>Doanh thu</a></li>
                <li><a th:href="@{/admin/totalsell}"><svg class="glyph stroked bag"><use xlink:href="#stroked-bag"></use></svg>Thống kê</a></li>
                <li ><a th:href="@{/admin/order}"><svg class="glyph stroked bag"><use xlink:href="#stroked-bag"></use></svg>Quản lý đơn hàng</a></li>
            </ul>

        </div><!--/.sidebar-->

        <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
            <div class="row">
                <ol class="breadcrumb">
                    <li><a href="#"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
                    <li class="active">Quản lý danh mục</li>
                </ol>
            </div><!--/.row-->

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header" style="color: red;text-align: center;">Quản lý danh mục</h1>
                </div>
            </div><!--/.row-->
            <div class="container px-4 px-lg-5">
                <div class="row">
                    <div class="col-lg-4">
                        <div id="toolbar" class="btn-group" >
                            <a th:href="@{/category/add}" class="btn btn-success">
                                <i class="glyphicon glyphicon-plus"></i> Thêm danh mục
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                                <li class="nav-item">
                                    <form id="searchForm" class="nav-link" th:action="@{/admin/category}" method="get">
                                        <input type="text" name="keyword" placeholder="Tìm kiếm theo tên...">
                                        <button type="submit" style="background-color: #007bff; color: #fff; border: none; padding: 5px 10px;">Tìm kiếm</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <table 
                                data-toolbar="#toolbar"
                                data-toggle="table">

                                <thead>
                                    <tr>
                                        <th data-field="id" data-sortable="true" style="padding: 15px;color: blue; text-align: center;">ID</th>
                                        <th style="padding: 15px;color: blue; text-align: center;">Tên danh mục</th>
                                        <th style="padding: 15px;color: blue; text-align: center;">Hành động</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="cate:${listCategory.content}">
                                        <td th:text="${cate.cid}" style="padding: 10px; text-align: center;"></td>
                                        <td th:text="${cate.cname}" style="padding: 10px; text-align: center;"></td>
                                        <td class="form-group" style="padding: 1px; text-align: center;">
                                            <a  th:href="@{/admin/edit_category/{id}(id=${cate.cid})}" class="btn btn-primary"><i class="glyphicon glyphicon-pencil" ></i></a>
                                            <a th:href="@{/category/del/{id}(id=${cate.cid})}" onclick="return confirm('Bạn có chắc chắn muốn xóa sản phẩm này?')" class="btn btn-danger"><i class="glyphicon glyphicon-remove" ></i></a>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <div class="pagination">
                            <ul style="display: flex; list-style: none;">
                                <!-- Liên kết "Trang trước" -->
                                <li th:if="${listCategory.number > 0}" style="margin: 0 5px;">
                                    <a th:href="@{'/admin/category?page=' + ${listCategory.number - 1}}" style="text-decoration: none; padding: 5px 10px; border: 1px solid #ccc; background-color: #f0f0f0; color: #007bff;">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>

                                <!-- Hiển thị các liên kết trang -->
                                <li th:each="i : ${#numbers.sequence(0, listCategory.totalPages - 1)}" style="margin: 0 5px;">
                                    <a th:href="@{'/admin/category?page=' + ${i}}" th:class="${i == listCategory.number ? 'current-page' : ''}" style="text-decoration: none; padding: 5px 10px; border: 1px solid #ccc; background-color: #f0f0f0; color: #333;">
                                        <span th:text="${i + 1}"></span>
                                    </a>
                                </li>

                                <!-- Liên kết "Trang sau" -->
                                <li th:if="${listCategory.hasNext()}" style="margin: 0 5px;">
                                    <a th:href="@{'/admin/category?page=' + ${listCategory.number + 1}}" style="text-decoration: none; padding: 5px 10px; border: 1px solid #ccc; background-color: #f0f0f0; color: #007bff;">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </div>




                    </div>
                </div>
            </div><!--/.row-->
        </div>	<!--/.main-->


    </body>

</html>
