<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Shop edit-product</title>

        <link th:href="@{/css/bootstrap.min1.css}" type="text/css" rel="stylesheet">
        <link th:href="@{/css/datepicker3.css}"  type="text/css" rel="stylesheet">
        <link th:href="@{/css/bootstrap-table1.css}" type="text/css" rel="stylesheet">
        <link th:href="@{/css/styles1.css}" type="text/css" rel="stylesheet">

        <!--Icons-->
        

        <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
        <![endif]-->

    </head>

    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" th:href="@{/admin/category}"><span>Shop</span> Quần Áo</a>
                    <ul class="user-menu">
                        <li class="dropdown pull-right">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> Admin <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> Hồ sơ</a></li>
                                <li><a href="#"><svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg> Đăng xuất</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </div><!-- /.container-fluid -->
        </nav>

        <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
            <ul class="nav menu">
                <ul class="nav menu">
                <li class="active"><a th:href="@{/admin/category}"><svg class="glyph stroked open folder"></svg>Quản lý danh mục</a></li>
                <li><a th:href="@{/admin/products}"><svg class="glyph stroked bag"></svg>Quản lý sản phẩm</a></li>
<!--                <li><a th:href="@{/admin/revenue}"><svg class="glyph stroked bag"></svg>Quan lý don hàng</a></li>-->
                <li><a th:href="@{/admin/revenue}"><svg class="glyph stroked bag"></svg>Doanh thu</a></li>
                <li><a th:href="@{/admin/totalsell}"><svg class="glyph stroked bag"></svg>Thống kê</a></li>
                <li ><a th:href="@{/admin/order}"><svg class="glyph stroked bag"><use xlink:href="#stroked-bag"></use></svg>Quản lý đơn hàng</a></li>
            </ul>
            </ul>

        </div><!--/.sidebar-->

        <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
            <div class="row">
                <ol class="breadcrumb">
                    <li><a th:href="@{/admin/category}"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
                    <li><a th:href="@{/admin/products}">Quản lý sản phẩm</a></li>
                    <li class="active">Sản phẩm số 1</li>
                </ol>
            </div><!--/.row-->

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Sản phẩm: Áo khoác đen</h1>
                </div>
            </div><!--/.row-->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="col-md-6" >
                                <form role="form" th:action="@{/admin/edit_product/{id}(id=${product.pid})}" method="post" th:object="${product}"  enctype="multipart/form-data">
                                    
                                    
                                    <div class="form-group">
                                        <label>Tên sản phẩm</label>
                                        <input type="text" name="prd_name" required class="form-control" th:field="*{pname}"  placeholder=""/>
                                    </div>

                                    <div class="form-group">
                                        <label>Giá sản phẩm</label>
                                        <input type="number" name="prd_price" required class="form-control" th:field="*{price}" />
                                    </div>
                                    <div class="form-group">
                                        <label>Danh muc</label>
                                        <select id="cateid" th:field="*{cateid}">
                                            <option value="" disabled>Chọn danh mục</option>
                                            <option th:each="category : ${cate}" th:value="${category.cid}" th:text="${category.cname}"></option>
                                        </select>
                                    </div>
                                    
                                    <!--                                <div class="form-group" >
                                                                        <label>Danh mục</label>
                                                                        <select name="cat_id" class="form-control" >
                                                                            <option  selected  th:text="${pro.cateid}"></option>
                                                                        </select>
                                                                    </div>   -->
                                    <div class="form-group">
                                        <label>Mô tả sản phẩm</label>
<!--                                        <textarea name="prd_details" required class="form-control" th:field="*{description}" rows="3"></textarea>-->
                                        <input type="text" name="prd_name" required class="form-control" th:field="*{description}"  placeholder=""/>
                                    </div>
                                    <div class="form-group">
                                    <label>Ảnh sản phẩm</label>
                                    <input type="text" name="prd_image" th:field="*{pimage}" required>
                                    
                                </div>
                                    <button  type="submit" name="sbm" class="btn btn-primary">Cập nhật</button>
                                    <button type="reset" class="btn btn-default">Làm mới</button>
                            
                            <div class="col-md-6">
                                

                            </div>
                            </form>
                                </div>
                        </div>
                    </div>
                </div><!-- /.col-->
            </div><!-- /.row -->

        </div>	<!--/.main-->	
    </body>

</html>
